
@import "tailwindcss";
@plugin "daisyui";

@import "bootstrap-icons/font/bootstrap-icons.css";




.clr{
    color: #26AE61;
}
.gray{
    color: rgb(138, 138, 138);
}
.active{
    background-color: #A59488;
    color: azure;

}
.image-container{
    clip-path: polygon(0% 1%, 100% 0%,  100% 87%, 0% 100%);
  }
